.technical-documentation {
  max-width: 50em;
}

.collapsible {
  word-break: break-word;
}

.highlight code {
  font-size: 0.9rem;
  line-height: 1;
}

.dfe-word-break--normal {
  word-break: normal !important;
}
