.technical-documentation {
  max-width: 50em;
}

.collapsible {
  word-break: break-word;
}

.highlight {
  position: relative;
}

.highlight code,
table code  {
  font-size: 0.9rem !important;
  line-height: 1 !important;
}

.dfe-word-break--normal {
  word-break: normal !important;
}

.js-enabled {
  .technical-documentation pre {
    padding: govuk-spacing(7) govuk-spacing(3) govuk-spacing(3);
  }
}
